  body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: pink;
      padding: auto;
  }


  .encabezado {
      display: flex;
      margin: auto;

  }

  .nombre {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0;
  }

  .logo {
      margin-right: 10px;
      font-size: 40px;
  }

  .iconos {
      display: flex;
      justify-content: space-between;
      align-items: center;

  }

  .iconos div {
      margin-right: 10px;
  }

  .ultimo-icono {
      margin-left: auto;
  }

  .elipse {
      margin-left: auto;
  }

  .container {
      width: 350px;
      border-radius: 10px;
      background-color: white;

      padding: 20px;
  }

  .image {
      width: 100%;
  }

  img {
      width: 100%;
  }

  h1 {
      margin: 0;
  }